/* @font-face {
  font-family: "Russo One";
  font-style: normal;
  src: url("fonts/RussoOne-Regular.ttf") format("truetype");
  src: local("Russo One");
} */

* {
  font-family: "Russo One", sans-serif;
}

body {
  background-color: #89aab0;
}

select {
  text-transform: capitalize;
  color: #5e7385;
}

select:focus {
  outline: transparent;
}

#display-1 {
  text-align: center;
}

#input_text {
  width: 50%;
}

#input_text:focus {
  color: #8f2543;
  outline: transparent;
}

#input_new_room {
  margin: 4px;
}

#input_new_room:focus {
  color: #8f2543;
  outline: transparent;
}

#username_input {
  text-align: center;
}

#username_input:focus {
  color: #8f2543;
  outline: transparent;

}

#username {
  text-align: center;
}

#header {
  text-align: center;
}

h1 {
  color: #8f2543;
  /* font-family: 'Special Elite', cursive; */
}

#message {
  text-align: justify;
}

#messages {
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  border: 2px solid #272442;
  border-radius: 5px;
  height: 70vh;
  overflow-y: auto;
  background-color: #bcd1d0;
  list-style-type: none;
}

.end {
  align-self: flex-end;
}

.start {
  align-self: flex-start;
}

.disabled {
  color: grey;
}

span.user {
  color: #ba6c48;
}

span.not-user {
  color: #8f2543;
}

.flex {
  display: flex;
}